{% extends 'base.html' %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/base-main.css' %}">
</head>

<body>

    <main class="container row">

        <div class="col-md-4 mt-5">

            <form action="/tasks/create/" method="POST" class="card card-body">

                <h2>Create Task</h2>

                {{error}}

                {% csrf_token %}

                {{form.as_p}}

                <button class="btn btn-dark">Save</button>

            </form>

        </div>
        
    </main>

</body>

</html>

{% endblock content %}